@import "defs";
@import "remixins";

.contact-us {
	.margin-top(@navigation-height + 50px);
	color: #000;
}

.contact-us-form {
	h3 {
		margin-top: 0;
	}

	.row {
		padding: 0;
		margin: 0;
		.margin-top(26px);
	}
	input, textarea {
		border: #a9a9a9 1px solid;
	}
	input[type=submit] {
		.width(80px);
		.height(30px);
		.margin-right(10px);
		font-weight: bold;
		border: 0;
	}
	input[type=submit]:disabled {
		background: #aaa;
	}
}