@navigation-height: 60px;
@background-gap-height: 40px;
@border-active-color: #7791af;
@strong-active-color: #002f68;
@button-color: #003169;
@button-color-light: #0150aa;
@button-inactive-color: #ccc;
@inactive-color: #ccc;

.transform(@a, @b) {
	-webkit-transform: translate(@a, @b);
	-moz-transform: translate(@a, @b);
	-ms-transform: translate(@a, @b);
	-o-transform: translate(@a, @b);
	transform: translate(@a, @b);
}