@import "defs";
@import "remixins";

@images-element-def-width: 200px;
@images-element-def-height: 135px;
@images-element-ratio: @images-element-def-width/@images-element-def-height;

.images-grid(@images-element-width: @images-element-def-width, @images-element-count: 4, @images-banner-width: 273px, @cont-width: 1px)
{
	@images-border-size: 1px;
	@images-element-height: @images-element-width / @images-element-ratio;

	@images-section-width: @images-element-count * @images-element-width;

	.images-section-cont when (ispixel(@cont-width)) {
		width: @images-section-width + @images-banner-width + @images-border-size;
		max-width: 95vw;
	}

	.images-section-cont when (ispercentage(@cont-width)) {
		width: @cont-width;
		max-width: 95vw;
	}

	.images-section {
		width: @images-section-width;
		min-width: @images-section-width;
		min-height: 1px;
	}

	.grid {
		img {
			width: @images-element-width;
			height: @images-element-height;
			border-left: @images-border-size #fff solid;
			border-top: @images-border-size #fff solid;
		}

		.album-overlay, {
			width: @images-element-width - @images-border-size;
			height: @images-element-height - @images-border-size;
			margin-left: @images-border-size;
			margin-top: @images-border-size;
		}
	}

	.adv-section {
		img {
			width: @images-banner-width;

			border-left: @images-border-size #fff solid;
			border-top: @images-border-size #fff solid;
		}

		&.fixed img {
			border-top: 0;
		}
	}
}

.images-prefetch {
	display: none;
}

.images-screen {
	@active-color: #003269;
	.font-size(16px);
	* {
		color: #727272;
	}

	a {
		cursor: pointer;

		&:hover {
			color: #727272;
		}
	}

	h1 {
		.font-size(38px);
		font-family: 'UniversLTStd-Bold';
	}

	header.top {
		.margin-bottom(25px);
		background: #fff;
	}

	height: 100%;
	font-family: 'UniversLTStd-Light';

	h2, h4 {
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}

	h2 {
		line-height: 1.2;
	}

	.school-filters {
		.font-size(18px);
		white-space: nowrap;

		.school-buttons, .school-button-add {
			position: relative;
		}

		.school-buttons {
			.top(3px);
			.margin-bottom(12px);
		}
	}

	.btn-tf {
		width: 85%;
		.height(26px);
		background: #fff;

		span {
			color: #333;
			line-height: 1.6;
		}
	}

	.btn-tf-close {
		float: left;
		text-align: center;
		width: 15%;
		.height(26px);

		span {
			color: #333;
			line-height: 1.1;
		}
	}

	.cross {
		.font-size(22px);
		.line-height(22px);
	}

	.btn-synt {
		width: 15vw;
		max-width: 188px;
		min-width: 100px;
		.height(26px);
		.margin-right(15px);
		margin-bottom: 8px;
		text-align: center;
		outline: @button-inactive-color solid;
		.outline-width(2px);
		overflow: hidden;
	}

	.btn-top-active, .btn-top-active button {
		background-color: #003269;
		span {
			color: #fff;
		}
	}

	.filters-col {
		display: inline-block;
	}

	.sub-filters .sub-filter-align
	{
		.padding-right(65px);
	}

	.filters {
		//max-width: 1000px;
		.margin-top(20px);
		text-align: center;

		div {
			.font-size(12px);
			.padding-bottom(4px);
		}

		button {
			.width(92px);
			.height(14px);
			background: #999999;
			border: 0;
			margin: 0;
		}

		.btn-active {
			background: @active-color;
		}

		ul {
			padding: 0;
		}

		li {
			display: block;
			.padding(2px);
			margin: 0;
			line-height: 1;
			font-family: 'UniversLTStd';
		}
	}

	.adv-section {
		float: right;

		img {
			display: block;
		}
	}

	.images-section-cont, .images-section {
		float: left;
		color: #000;
	}

	.grid {
		.masonry-brick {
			display: inline-block;
			background: #f6f6f6;
		}

		.album-overlay-cont {
			position: relative;
		}

		.album-overlay {
			position: absolute;
			left: 0;
			top: 0;
			.padding-top(16px);

			text-align: center;
			* {
				color: #fff;
			}
			transition: 0.3s;

			background-color: rgba(0,0,0,0.35);

			&:hover {
				background-color: rgba(0,0,0,0.65);

				h6, h5 {
					font-weight: bold;
				}
			}

			h4 {
				.font-size(16px) !important;
				padding: 0;
				margin: 0;
			}
		}

		.album-overlay-top {
			.margin-bottom(8px);
		}

		h6, h5 {
			padding: 0;
			margin: 0;
			text-transform: uppercase;
		}
	}

	@image-padding: 30px;

	.images-screen-details {
		border: #efefef 2px solid;
		margin: 0;
	}

	.details-main {
		min-width: 8/12*100%;
	}

	.details-main, .details-right {
		padding: 0;
	}

	.details-right {
		border-left: 0;
		max-width: 450px;
		//.margin-left(-@image-padding);

		.pad {
			.padding-left(20px);
			.padding-top(15px);
			.padding-bottom(15px);
		}
		text-align: left;

		i {
			.padding-right(7px);
		}

		.fa-comment {
			color: @strong-active-color;
		}

		button {
			background: #fff;
		}

		.share {
			a {
				.margin-right(7px);
			}

			img {
				.width(33px);
				.height(33px);
			}
		}

		.comments {
			.font-size(14px);

			input[type=text] {
				height: 16px;
				line-height: 14px;
			}
		}

		.comment-body {
			.font-size(13px);
		}
	}

	.details-sep {
		width: 100%;
		border-top: #efefef 2px solid;
	}

	@arrow-small-size: 6px;
	@arrow-small-color: #003069;
	.arrow-left-small {
		float: left;
		width: 0;
		height: 0;
		border-top: @arrow-small-size solid transparent;
		border-bottom: @arrow-small-size solid transparent;
		border-right: @arrow-small-size solid @arrow-small-color;
		margin-top: 5px;
		margin-right: 7px;
	}

	.grid-small {
		width: 100%;
		height: 100%;
		img {
			.width(75px);
			.height(55px);
			padding: 1px;
		}
	}

	h6 {
		span.tag {
			text-transform: capitalize;
		}
	}

	.detail {
		@arrow-size: 8px;
		@arrow-color: #abadae;
		@image-width: 100%;
		@arrow-holder-height: 45px;
		@arrow-holder-width: 20px;

		//.padding-left(@image-padding);
		//.padding-right(@image-padding);

		img {
			max-height: 80vh;
			max-width: 100%;
		}

		.arrow-holder-left {
			left: -2px;
			padding-left: 2px;
		}

		.arrow-holder-right {
			right: -2px;
			padding-right: 2px;
		}

		.arrow-holder {
			position: absolute;
			top: 50%;
			margin-top: -@arrow-holder-height/2;

			width: @arrow-holder-width;
			height: @arrow-holder-height;
			padding-top: 16px;
			background: #fff;
			z-index: 100;
		}

		.arrow-left {
			float: left;
			width: 0;
			height: 0;
			border-top: @arrow-size solid transparent;
			border-bottom: @arrow-size solid transparent;
			border-right: @arrow-size solid @arrow-color;
		}

		.arrow-right {
			float: right;
			width: 0;
			height: 0;
			border-top: @arrow-size solid transparent;
			border-bottom: @arrow-size solid transparent;
			border-left: @arrow-size solid @arrow-color;
		}
	}
}

.filters-section {
	width: 100%;
	background: #fff;
	z-index: 1;
}

.v-views {
	background: #fff url(/images/v-eye.png) no-repeat;
	.padding-left(35px + 8px);
}

.btn-v-like {
	border: 0;
	background: #fff;
	.margin-right(10px);
}

.v-like {
	background: #fff url(/images/v-like.png) no-repeat;
	.background-size(19px, 19px);
	padding-left: 19px + 8px;
}

.album-header {
	* {
		letter-spacing: 0;
	}

	h2 {
		.font-size(24px) !important;
	}
	h2.title {
		font-family: 'UniversLTStd-Bold';
		.font-size(30px) !important;
	}
	padding: 15px 0;
}

.details-adv-bottom {
	position: absolute;
	bottom: 0;

	text-align: center;
	& > div {
		display: inline-block;
	}

	img {
		width: 100%;
	}

	hr {
		border: 0;
		height: 2px;
		color: #efefef;
		background: #efefef;
		margin-bottom: 40px;
	}
}

.filter-box {
	cursor: pointer;
}

.back-to-search {
	span {
		font-family: 'UniversLTStd';
		.font-size(20px);
		line-height: 23px;
	}
}

.details-right {
	.share {
		h5 {
			display: inline-block;
			.padding-right(12px);
		}
	}

	h4, h5, h6, a, input {
		font-family: 'UniversLTStd';
	}

	h6 {
		margin: 3px;
		.font-size(13px) !important;
	}

	.comment-body {
		&, * {
			color: #ccc;
			font-weight: bold;
		}
	}

	.grid-small {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}