@import "remixins";
@import "images";

@media screen {
	@media (max-width: 480px) {
		html {
			font-size: 8px !important;
		}
	}

	@media (min-width: 481px) and (max-width: 1124px) {
		html {
			font-size: 8.5px;
		}
	}

	@media (min-width: 1125px) and (max-width: 1324px) {
		html {
			font-size: 9px;
		}
	}

	@media (min-width: 1325px) {
		html {
			font-size: 14px;
		}
	}

	@media (max-width: 1280px) {
		.nav-social {
			right: auto !important;
		}

		.btn-add-school {
			float: left !important;
		}

		.nav {
			.view {
				padding-left: 5px;
				padding-right: 5px;
			}

			.nav-social {
				position: relative !important;
			}
		}

		@media (orientation: landscape) {
			.nav {
				position: absolute !important;
			}
		}

		.col-md-offset-2 {
			margin-left: 0;
		}

		.search-top-space-col {
			display: none !important;
		}

		.images-screen .filters button {
			.width(72px) !important;
		}

		.filters-col {
			width: 100% !important;
		}

		.sub-filters .sub-filter-align {
			.padding-right(50px) !important;
		}

		.images-screen .filters {
			.margin-top(5px) !important;
			ul {
				.margin-bottom(5px) !important;
			}
		}

		.adv-section {
			display: none;
		}

		.view {
			padding-left: 20px;
			padding-right: 20px;
		}
	}


	@padding: 30px;

	@media (max-width: (400px + @padding - 1px)) {
		.images-grid(@images-element-width: 200px, @images-element-count: 1, @images-banner-width: 0, @cont-width: 100%);
	}

	@media (min-width: (400px + @padding)) and (max-width: (600px + @padding - 1px)) {
		.images-grid(@images-element-width: 200px, @images-element-count: 2, @images-banner-width: 0, @cont-width: 100%);
	}

	@media (min-width: (600px + @padding)) and (max-width: (800px + @padding - 1px)) {
		.images-grid(@images-element-width: 200px, @images-element-count: 3, @images-banner-width: 0, @cont-width: 100%);
	}

	@media (min-width: (800px + @padding)) {
		.images-grid(@images-element-width: 200px, @images-element-count: 4);
	}
}