@import "defs";
@import "remixins";

.add-school-right {
	text-align: left;

	button {
		.width(240px);
		.height(48px);
		.margin-top(33px);
		.margin-left(8px);
		.font-size(21px);
		font-weight: bold;
		background: @button-color-light;
		border: 0;
	}

	small {
		display: block;
		.margin-top(44px);
		.font-size(18px);
	}
}