@import "defs";
@import "remixins";

@popup-width: 56.5vw;
@popup-bg-color: #003269;

.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1002;
	background-color: @popup-bg-color;
	.transform(-50%, -50%);

	h4 {
		padding-top: 1.7vw;
		.margin-bottom(15px);
		.font-size(24px);
	}

	small {
		font-family: 'UniversLTStd-Light';
		color: #fff;
	}

	a {
		.padding-right(9px);
		.padding-left(9px);
	}

	nav {
		font-family: 'Rockwell';
	}

	nav, small {
		.font-size(14px);
		font-weight: normal;
	}
}

.popup-big {
	width: @popup-width;
}

.popup-main {
	display: table;
	width: 100%;
}

.popup-left {
	display: table-cell;
	width: 35%;
	.padding-top(8px);
	overflow: hidden;
	text-align: center;
	vertical-align: bottom;
	border-right: #fff 2px solid;

	img {
		.height(166px);
		padding: 0;
		.margin-top(24px);
	}

	h3 {
		.margin-top(24px);
		.margin-bottom(40px);
		.font-size(25px);
		letter-spacing:0;
	}

	a:link {
		color: #fff;
	}
}

.popup-right {
	display: table-cell;
	//width: 65%;
	overflow: visible;
	.font-size(24px);
	vertical-align: bottom;

	.padding {
		padding: 0;
		.padding-left(30px);
		.padding-right(30px);
	}
}

.popup-right-inner {
	overflow: visible;
}

.popup-bottom-separator {
	width: 100%;
	.height(10px);
	.margin-top(40px);
	background: #0150aa;
}

.popup-bottom {
	display: table-cell;
	width: @popup-width;
	margin-top: 0;
	color: #000;
	vertical-align: middle;

	.popup-bottom-ws {
		.margin(5px);
		margin-top: 0;
		background: #fff;

		.popup-bottom-content {
			display: table;
			.padding-top(25px);
			.padding-bottom(35px);
			.padding-left(30px);

			button {
				float: left;
				.width(190px);
				.height(40px);
				.font-size(15px);
				font-weight: bold;
				background: @button-inactive-color;
				border: 0;

				.margin-right(30px);
			}


			h4 {
				float: left;
				padding: 0;
				margin: 0;
				.height(40px);
				.line-height(40px);
			}
		}
	}
}