@import "defs";
@import "remixins";

.no-school-right {
	//text-align: left;
	.font-size(18px);

	input[type="submit"] {
		.width(160px);
		.height(48px);
		.margin-top(15px);
		.margin-right(10px);
		.font-size(21px);
		color: #fff;
		font-weight: bold;
		background: @button-color;
		border: 0;
	}

	small {
		display: block;
		.margin-top(44px);
	}

	input.input-text {
		.width(200px);
		.height(40px);
	}

	textarea {
		width: 100%;
		.height(200px);
		font-weight: normal;
		.margin-bottom(15px);
	}
}