@import "defs";
@import "remixins";

button, input {
	-webkit-appearance: none;
	border-radius: 0;
}

// * placeholder color *
::-webkit-input-placeholder { /* WebKit browsers */
	color:    @inactive-color !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    @inactive-color !important;
	opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    @inactive-color !important;
	opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    @inactive-color !important;
}

// * remove a links decoration and outline *
button, a {
	outline: 0 !important;
}
a {
	text-decoration: none !important;

	&:hover {
		text-decoration: none !important;
	};
}
::-moz-focus-inner {
	border: 0;
}

// * no special appearance for required and invalid form fields *
:invalid {
	box-shadow: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}

::-ms-clear {
	display: none;
}

@-ms-viewport {
	width: device-width;
}