@import "defs";
@import "remixins";

@search-border-width: 2px;
@btn-search-width: 54px;
@btn-search-full-width: @btn-search-width + @search-border-width * 2;

.main-piece {
	text-align: center;
	width: 100%;

	.margin-top(@navigation-height + 80px);

	h1 {
		font-family: 'VarsityRegular';
		.font-size(60px) !important;
		letter-spacing: 6px;
	}

	h2 {
		font-family: 'UniversLTStd';
		.font-size(34px) !important;
		letter-spacing: 3px;
	}

	h1, h2, h4 {
		padding: 0;
		text-shadow: 2px 2px 8px #000;
	}

}

.main-piece-inner {
	.max-width(900px);
	display: inline-block;
}

.search-block {
	display: inline-block;
	text-align: left;

	max-width: 500px;
	.margin-top(28px);
}

.main-piece-col {
	padding: 0;
	.padding-top(@navigation-height + 10px);
}

.row-sign-up {
	.margin-top(18px);
}

.text-search-wrap {
	width: 32vw;
	min-width: 170px;
	max-width: 500px;
	margin-bottom: 26px;
	.margin-right(@btn-search-width + @search-border-width);
	border: #2e69ac @search-border-width solid;
}

.text-search {
	position: relative;
	.margin-right(54px);
	text-align: left;
	font-family: UniversLTStd;
}

.dropdown-menu {
	width: calc(~"100% + @{btn-search-full-width}");
	z-index: 9999 !important;
	margin-left: -@search-border-width;
	border-radius: 0;
}

.btn-search {
	float: right;
	z-index: 1;
	.width(@btn-search-width);
}

.text-search-input {
	width: 100%;
	.height(52px);
	.padding-left(35px);
	margin: 0;

	.font-size(20px);
	line-height: 2;

	color: #000;
	border:0;
}

.btn-search-input {
	width: 100%;
	.height(52px);
	background: url(/images/btn-search.png) no-repeat;
	.background-size(54px, 52px);
	border: 0;
}

.popup-light .btn-search-input {
	background: url(/images/btn-search-light.png) no-repeat;
	.background-size(54px, 52px);
}

.btn-sign-up {
	width: 10vw;
	.height(48px);
	max-width: 154px;
	min-width: 110px;
	.font-size(22px);
	font-weight: bold;
	white-space: nowrap;
	background-color: @button-color;
	border: 0;

	float: left;
	margin-right: 15px;
}

.text-sign-up {
	.height(48px);
	.line-height(24px);
	//.margin-top(8px);

	h4 {
		display: inline;
	}
}

.typeahead-line {
	.padding(6px);
	.font-size(16px);

	img, div {
		vertical-align: middle;
		text-align: left;
	}
}