div(class="images-screen", ng-controller="ImagesGenericCtrl")
	div(class="images-section-cont", ng-controller="ImagesCtrl")
		div(class="filters-section top-sticky-bar", scroll-to-fixed='topBlockScrollToFixed')
			nav(class="clearfix school-filters")
				div(class="pull-left")
					h2 PHOTOS FOR
				div(class="school-buttons")
					div(class="", ng-if="filters")
						div(class="btn-synt pull-left", ng-class="{'btn-top-active': school.isSelected}", ng-repeat="school in filters.schools track by school.id")
							button(ng-click="removeSchool(school)", title="remove '{{school.name}}'", class="btn-tf-close btn-tf", ng-if="school.name != 'NATIONAL'")
								span(class="cross") &times;
							button(ng-click="toggleCheck('schools', school, 'NATIONAL')", title="{{school.name}}", class="btn-tf")
								span {{school.name}}
						div(class="btn-synt btn-add-school pull-right", ng-class="{'btn-top-active': school.isSelected}")
							button(ng-click="showPopup('search-school')", class="btn-tf")
								span ADD SCHOOL
			nav(class="clearfix filters", ng-if="filters")
				div(class="filters-col")
					div(class="clearfix sport-filters")
						div
							ul()
								li(class="pull-left filter-box", ng-repeat="filter in filters.sports track by filter.id", ng-click="toggleCheck('sports', filter, 'ALL')")
									div {{filter.name}}
									button(ng-class="{'btn-active': filter.isSelected}")
					div(class="sub-filters")
						div(class="pull-left sub-filter-align")
							ul
								li(class="pull-left filter-box", ng-repeat="filter in filters.time track by filter.id", ng-click="toggleRadio('time', filter)")
									div {{filter.name}}
									button(ng-class="{'btn-active': filter.isSelected}")
						div(class="pull-left sub-filter-align")
							ul
								li(class="pull-left filter-box", ng-repeat="filter in filters.kind track by filter.id", ng-click="toggleState('kind', filter)")
									div {{filter.name}}
									button(ng-class="{'btn-active': filter.isSelected}")
						div(class="pull-left sub-filter-align")
							ul
								li(class="pull-left filter-box", ng-repeat="filter in filters.gender track by filter.id", ng-click="toggleCheck('gender', filter)")
									div {{filter.name}}
									button(ng-class="{'btn-active': filter.isSelected}")
						div(class="pull-left")
							ul
								li(class="pull-left filter-box", ng-repeat="filter in filters.sportLevel track by filter.id", ng-click="toggleCheck('sportLevel', filter)")
									div {{filter.name}}
									button(ng-class="{'btn-active': filter.isSelected}")
		section(ui-view="images-view", autoscroll="false", class="images-section")
		div(static-include="pages/adv-right.html")