div(class="popup-bg", ng-click="hidePopup()")
div(class="popup", ng-class="{'popup-big': settings.isBig, 'popup-light': settings.isLight}")
	div(class="popup-main")
		div(class="popup-left hidden-xs hidden-sm hidden-md", ng-show="settings.isLeftSide")
			img(src="/images/popup-v.png")
			div(ui-view="popup-left", autoscroll="false")
			div(class="popup-bottom-separator")
		div(class="popup-right")
			div(ui-view="popup-right", autoscroll="false", class="padding popup-right-inner")
			div(class="popup-bottom-separator")
	div(class="popup-bottom", ng-show="!user.isAuthenticated() && isAddSchoolState()")
		div(class="popup-bottom-ws")
			div(class="popup-bottom-content")
				button(ng-click="showPopup('login')") LOGIN
				h4 Please login to add to your Home Schools.