div(class="main-piece")
	div(class="main-piece-inner")
		img(src="images/logo-search.png", class="visible-lg-inline")
		h2 The story of your game, shot by professional photographers.
		div(class="search-block")
			div(static-include="pages/search-bar.html")
			div(ng-show="!user.isAuthenticated()")
					button(class="btn-sign-up", ng-click="showPopup('login')") SIGN UP
					span(class="text-sign-up")
						h4 Join our community to follow your favorite schools