a(style="width: 100%;")
	div(class="typeahead-line row")
		div(class="school-name col-md-8", style="padding: 0;", bind-html-unsafe="match.model.name | typeaheadHighlight:query")
		div(class="school-loc col-md-4", style="padding: 0;") {{match.model.location}}