@import "include/remixins";
@import "include/defs";
@import "include/fonts";
@import "include/quirks";

section {
	color: #ffffff;
}

h1,
h2,
h3 {
	font-family: 'Rockwell';
	letter-spacing: 3px;
}

h6 {
	.font-size(12px) !important;
}

h5 {
	.font-size(14px) !important;
}

h4 {
	.font-size(18px) !important;
}

h3 {
	.font-size(24px) !important;
}

h2 {
	.font-size(30px) !important;
}

h4,
h5,
small {
	font-family: 'UniversLTStd-Light';
}

label {
	.font-size(14px);
	font-weight: normal;
}

input, button {
	padding: 0;
	margin: 0;
	font-family: 'UniversLTStd';
	border: 0;
}

input, textarea {
	color: #000;
}

label, textarea {
	display: block;
}

.input-text, textarea {
	width: 100%;
	.padding-left(15px);
}

textarea {
	.height(160px);
	border: 0;
}

.input-text {
	.height(40px);
}

body {
	font-family: 'Rockwell';
	font-size: 100%;
	color: #000000;
	word-wrap: break-word;
	background: #fff;
	max-width: 100%;
}

.container-fluid {
	width: 100%;
	padding: 0;
	margin: 0;
}

.body-home {
	background: #000 url(/images/bg-new.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.body-default {
	background: #fff;
}

.first-page {
	@background-gap-height-rem: ~`pxtorem('@{background-gap-height}')`;
	min-height: calc(~"100vh - @{background-gap-height-rem}");
	overflow: hidden;
}

#fold {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.fold-view {
	position: absolute;
	top: 100vh;
	width: 100%;
	height: auto;
	min-height: 100vh;
	.margin-top(-40px);
	.padding-top(4px);

	overflow: hidden;
	background: #fff;

	text-align: center;

	& > div {
		display: inline-block;
		text-align: left;
	}

	h2,
	h3 {
		font-family: 'UniversLTStd-Light';
	}

	h2 {
		.font-size(27px) !important;
	}
}

.main-view {
	width: 100%;

	text-align: center;

	& > div {
		display: inline-block;
		text-align: left;
	}
}

.side-alerts {
	position: absolute;
	top: 200px;
	right: 200px;
}

.sp0 {
	height: 25vh;
}

.fixed {
	z-index: 999;
}