doctype html
html(lang="en")
	head(ng-controller="HeadCtrl")
		title(ng-bind="title") Varsity Views
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
		if isSocial
			meta(property="og:title", content="#{title}")
			meta(property="og:description", content="#{description}")
			meta(property="og:image", content="#{imageUrl}")
		link(rel="stylesheet", type="text/css", href="css/app.min.css")
		link(rel="shortcut icon", type="image/x-icon", href="images/favicon.ico")
		script(src="js/app.min.js")
	body(ng-controller="MainCtrl", ng-class="{'body-home': isHomeState(), 'body-default': !isHomeState()}", sticky-scroll)
		a(href="#fold", id="fold")
		div(class="container-fluid", id="container")
			div(ng-hide="isLoading", ng-cloak, class="ng-hide first-page")
				header
					div(class="nav row", ng-controller="NavCtrl")
						div(class="images-section-cont")
							div(class="nav-left pull-left")
								nav(class="view")
									a(href="#", ng-click="goHome()")
										img(src="images/svg/logo.svg")
							div(class="nav-right pull-right")
								nav(class="view")
									a(href="#!", ng-click="showPopup('login')", ng-class="{'nav-btn-active': isActiveState('popup.login')}", class="ng-cloak ng-hide", ng-show="!user.isAuthenticated()", ng-cloak) Login
									span(class="ng-cloak ng-hide hidden-xs", ng-show="user.isAuthenticated()", ng-cloak) Hello {{user.fullName}}!
									a(href="#!", ng-click="logout()", class="ng-cloak ng-hide", ng-show="user.isAuthenticated()", ng-cloak) Sign Out
									a(ui-sref="contact", ng-class="{'nav-btn-active': isActiveState('contact')}") Contact
									div(class="nav-social")										
				side(class="side-alerts")
					alert(ng-repeat="alert in alerts.list", type="{{alert.type}}", close="alerts.close($index)") {{alert.msg}}
				section(ui-view="home-view", autoscroll="false", class="view")
				section(ui-view="main-view", autoscroll="false", class="view main-view")
				section(ui-view="popup-view", autoscroll="false")
			div(class="view fold-view", ng-show="!isAlternativeView")
				div(id="fold-view", ui-view="fold-view", autoscroll="false")
		footer(ng-controller="FinalizeCtrl")